<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <!--DataBase  "ServiceTest" or "ServiceProd" or "Remedy"-->
    <add key="ConnectionPrefix" value="ServiceTest"/>
    <!--Remedy Ticket will be sent if value is set to Y-->
    <add key="SendRemedyTickets" value="N"/>
    <add key="SendEmailsWithError" value="N"/>
    <!--Connection string for service prod database-->
    <add key="ServiceProdUser" value="*******"/>
    <add key="ServiceProdDataSource" value="*****"/>
    <add key="ServiceProdEncryptedPassword" value="**************"/>

    <!--Connection string for Service test database-->
    <add key="ServiceTestUser" value="******"/>
    <add key="ServiceTestDataSource" value="*******"/>
    <add key="ServiceTestEncryptedPassword" value="************"/>

    <!--Connection string for ITSM_REPORTING (remedy) database-->
    <!--add key="RemedyUser" value="ITSM_REPORTING"/-->
    <!--add key="RemedyDataSource" value="*******"/-->
    <!--add key="RemedyEncryptedPassword" value="**********"/-->
    <!-- Constants -->
    <add key="DateFormat" value="DD-Mon-YYYY"/>
    <add key="DateFormat.NET" value="dd-MMM-yyyy"/>
    <add key="DateTimeFormat" value="DD-Mon-YYYY HH24:MI:SS"/>
    <!--Emails  -->
   
    <add key="EmailRecipients" value="*************" />
    <add key="EmailCC" value="*************" />
    <add key="AccessComplianceMailboxAddress" value="*************"/>
    <add key="SmtpHost" value="*************"/>
    <add key="DisplayNameOfMailSender" value="Test Report"/>
    <!--Remedy calls  -->
    <!--add key="AssignedToGroup" value="*************"/-->
    <!--add key="Type" value="IT SERVICES"/-->
    <!--add key="Category" value="SERVICES"/-->
    <!--add key="SubCode" value="REPORT"/-->
    <!--'&' is used as '&amp;' -->
    <!--add key="RequesterLoginName" value="*************"/-->
    <!--add key="WebServiceToken" value="*************"/-->
    <!--add key="SubmitedBy" value="Automatically"/-->
    <!--Log  -->
    <add key="LogPath" value="."/>
    <add key="LogFileName" value="LogTestReport.txt"/>
    <!--ExcelReports  -->
    <add key="XMLFilePath" value="."/>
    <add key="XLSFilePath" value="."/>
    <add key="ReportFolderPath" value=".\..\"/>
    <add key="deleteXMLFile" value="Y"/>
    <add key="CountGdiAdRecords" value="Y"/>
    <add key="readAdGdiFromTable" value="Y"/>
  </appSettings>
</configuration>
